ANDROID_APP_ID=[YOUR_ANDROID_APP_ID]
IOS_APP_ID=[YOUR_IOS_APP_ID]
ANDROID_PACKAGE_NAME=com.vibes.push.example.rn
IOS_BUNDLE_IDENTIFIER=com.vibes.push.example.rn
APP_URL=https://public-api.vibescm.com/mobile_apps
